@import "../../variables.scss";

div[data-react-toolbox="date-picker"] {
	input{
		text-align:center;
		font-weight: bold;
		font-size: x-large;
	}
}

.border {
	border: $border;
	margin-bottom :15px;
}

.pageContainer {
	padding: 24px; 
}